# =========================
# Python / Flask
# =========================
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/*.db
backend/support.db
backend/instance/
.pytest_cache/
__pycache__/

# Flask / environment
.env

# =========================
# Node / React
# =========================
frontend/node_modules/
frontend/build/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
